﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsHead{
    <link href="/Content/home/Styles/detailsbb24.css?v=sICpQsqFEWu2T4okML5RvgVFYSOI9shUQbUj5qSiYFw1" rel="stylesheet" />
    <script src="/Content/home/Scripts/details5d6b.js?v=wC9xjebhzePORHOl-uAEapMDAGvTuIiRbOrOL_e2d5c1"></script>
}
<div class="container">


    <div class="row row-md">

        <div class="col-xs-12 col-md-8 col-md pull-left mgb15">


            <!----- Detail rao vặt ----->
            @if (ViewBag.Item != null)
            {
                ViewBag.Title = ViewBag.Item.Name;
                ViewBag.ShareTitle = ViewBag.Item.Name;
                if (ViewBag.Item.ImageMain.Contains("_thumbail"))
                {
                    ViewBag.ShareImage = ViewBag.Item.ImageMain.Replace("_thumbail","");
                }
                else
                {
                    ViewBag.ShareImage = ViewBag.Item.ImageMain;
                }

                <div class="box_titRV pd10">
                    <h1 class="titH3 mgt5">
                        <strong class="c_red bold" style="font-size: 18px;color:#f15b40">
                            @ViewBag.Item.Name
                        </strong>
                    </h1>
                    <p><span class="d_price">Giá: <strong>@(ViewBag.Item.Price) @ViewBag.Item.UnitName</strong></span></p>
                </div>

                <div class="titH4 bold clearfix">
                    <span>THÔNG TIN MÔ TẢ</span>
                    <div class="social-likes bold400 pull-right"
                         data-url="@Request.Url.AbsoluteUri"
                         data-title="Bán gấp!!! Nhà Phố Láng Hạ Diện Tích 45m Mặt tiền 4m xây 5 Tầng">
                        <div class="facebook" title="Share link on Facebook">Facebook</div>
                        <div class="twitter" title="Share link on Twitter">Twitter</div>
                        <div class="plusone" title="Share link on Google+">Google+</div>
                    </div>

                </div>
                <table class="table table-raovat table-striped">
                    <tr>
                        <td><strong>Mã tin</strong></td>
                        <td class="dtr2">:&nbsp;&nbsp;<b>@ViewBag.Item.ProductId</b></td>
                    </tr>
                    <tr>
                        <td style="width:140px"><strong>Thông tin</strong></td>
                        <td class="dtr2">:&nbsp;&nbsp;@ViewBag.Item.TypeTransactionName &nbsp;-&nbsp; @ViewBag.Item.TypePropertyName</td>
                    </tr>
                    <tr>
                        <td><strong>Địa chỉ</strong></td>
                        <td class="dtr2">:&nbsp;&nbsp;@ViewBag.Item.Address &nbsp;-&nbsp; @ViewBag.Item.WardName  &nbsp;-&nbsp; @ViewBag.Item.DistrictName  &nbsp;-&nbsp; @ViewBag.Item.CityName</td>
                    </tr>
                    <tr>
                        <td><strong>Diện tích</strong></td>
                        <td class="dtr2">:&nbsp;&nbsp;@ViewBag.Item.Area m<sup>2</sup></td>
                    </tr>

                    <tr>
                        <td><strong>Số tầng</strong></td>
                        <td class="dtr2">:&nbsp;&nbsp;@ViewBag.Item.NumOfFloor tầng</td>
                    </tr>
                    <tr>
                        <td><strong>Phòng ngủ</strong></td>
                        <td class="dtr2">:&nbsp;&nbsp;@ViewBag.Item.NumOfBedroom phòng</td>
                    </tr>
                    <tr>
                        <td><strong>Phòng toilet</strong></td>
                        <td class="dtr2">:&nbsp;&nbsp;@ViewBag.Item.NumOfWcs phòng</td>
                    </tr>

                    <tr>
                        <td><strong>Hướng</strong></td>
                        <td class="dtr2">:&nbsp;&nbsp; @ViewBag.Item.HouseDirectionName</td>
                    </tr>
                    <tr>
                        <td><strong>Hướng ban công</strong></td>
                        <td class="dtr2">:&nbsp;&nbsp;@ViewBag.Item.BalconyDirectionName</td>
                    </tr>

                    <tr>
                        <td><strong>Thời gian đăng:</strong></td>
                        <td class="dtr2">:&nbsp;&nbsp;@ViewBag.Item.ModifiedDate.ToString("hh:mm tt - dd/MM/yyyy ")</td>
                    </tr>
                </table>

                <div class="intro clearfix mgb10 mgt10">
                    @Html.Raw(ViewBag.Item.Summary)
                </div>

                <ul class="nav nav-tabs mgb10 bold tabs_raovat">
                    <li class="active">
                        <a class="pdr0 mgr20 d_image" href="#d_images" role="tab"
                           data-toggle="tab">Hình ảnh</a>
                    </li>
                    <li><a class="pdr0 mgr20 d_map" href="#d_map" role="tab" data-toggle="tab">Bản đồ</a></li>
                    <li><a class="pdr0 mgr20 d_video" href="#d_video" role="tab" data-toggle="tab">Video</a></li>
                </ul>

                <div class="tab-content mgb15">
                    <div class="tab-pane fade in active" id="d_images">
                        <p class="d_img1 img4x3 bd pd10 mgb0 clearfix" id="aimg">
                            @if (ViewBag.Item.Imgs.Count > 0)
                            {

                                <img class="img img2" id="img1" src=" @ViewBag.Item.Imgs[0].Name"
                                     alt="@ViewBag.Item.Name" />
                                <a class="img" data-fancybox="d_image" href="@ViewBag.Item.Imgs[0].Name">
                                    <img class="img2" src="@ViewBag.Item.Imgs[0].Name"
                                         alt="@ViewBag.Item.Name" />
                                </a>
                            }
                        </p>

                        <div class="owl-carousel clearfix pd15 text-center" id="gallery">
                            @if (ViewBag.Item.Imgs.Count > 0)
                            {
                                var lstImg = ViewBag.Item.Imgs;
                                for (int i = 0; i < lstImg.Count; i++)
                                {
                                    if (i == 0)
                                    {
                                        <a href="javascript:void()" class="img4x3 bd pd5 ahover active"
                                           data-image="@lstImg[i].Name">
                                            <img class="img img2"
                                                 src="@lstImg[i].Name"
                                                 alt="@ViewBag.Item.Name" />
                                        </a>
                                    }
                                    else
                                    {
                                        <a class='img4x3 bd pd5 ahover' data-fancybox='d_image'
                                           href='@lstImg[i].Name'
                                           data-image='@lstImg[i].Name'>
                                            <img class='img img2'
                                                 src='@lstImg[i].Name'
                                                 alt='@ViewBag.Item.Name' />
                                        </a>
                                    }

                                }
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade bd pd10" id="d_map">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src='../map5804.html?map=145403'></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade bd pd10" id="d_video">
                        <div class="embed-responsive embed-responsive-4by3">

                            <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/?rel=0&amp;hd=1&amp;controls=1&amp;showinfo=0"></iframe>

                        </div>
                    </div>
                </div>

                @*<fieldset class="bd pdl10 pdr10 UserDt bg_full2 mgb20">
                        <legend class="bold">THÔNG TIN NGƯỜI ĐĂNG</legend>

                        <div class="row row-md">
                            <div class="col-xs-12 col-md-3 col-md mgb15">
                                <span class="d_imgU mgt10">
                                    <img class="img img1" src="../images/user/null.gif" alt="Nguyễn Trọng Sáng" />
                                </span>
                            </div>
                            <div class="col-xs-12 col-md-9 col-xs table-responsive no-border mgb0">
                                <table class="table d_table mgb0">
                                    <tr>
                                        <td class="bold">Công ty / Cá nhân</td>
                                        <td>: Nguyễn Trọng Sáng</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Số điện thoại</td>
                                        <td>: <a href="tel:0967273387">0967273387</a></td>
                                    </tr>
                                    <tr>
                                        <td class='bold'>Địa chỉ email</td>
                                        <td>
                                            : <a href='mailto:trongsangnguyen26031997@gmail.com?Subject=Hello%20Nguyễn Trọng Sáng'
                                                 target='_top'>trongsangnguyen26031997@gmail.com</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Địa chỉ liên lạc</td>
                                        <td>: Bạch Nao</td>
                                    </tr>

                                </table>
                            </div>
                        </div>

                    </fieldset>*@


            }
            <!----- End Detail ----->
        </div>

        <div class="col-xs-12 col-md-4 col-md pull-right mgb10">
            <!----- Ads ----->
            <!----- End Ads ----->
            <div class="titH3 bold500 tit_box hidden-xs">
                <a href="#"
                   class="tit_span">TIN V.I.P</a> <a class="view_all"
                                                     href="@Url.Action("Product","Home",new {vip="1" })" title="Xem tất cả tin vip">Xem tất cả >></a>
            </div>
            <div class="row row-md row-mb hidden-xs">
                @if (ViewBag.lstVip != null)
                {
                    foreach (var item in ViewBag.lstVip)
                    {
                        <div class="col-xs-6 col-sm-4 col-md-6 col-md col-mb mgb10 item_vip">
                            <a class="img_rvip img4x3" href="@Url.Action("Details","Home",new { id=item.ProductId,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(item.Name)})">

                                <img class="icon_v" src="/images/icon/vip2.gif" alt="Tin Vip Nhà đất Văn Minh">

                                <img class="img img2" src="@item.ImageMain" alt="@item.Name">
                            </a>
                            @if (item.Price == null || (item.Price != null && item.Price == 0))
                            {
                                <strong class="pd5">(Thỏa thuận)</strong>
                            }
                            else
                            {
                                <strong class="pd5">@item.Price (@item.UnitName)</strong>
                            }

                            <h2 class="bold tit_rv pdt5"><a href="@Url.Action("Details","Home",new { id=item.ProductId,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(item.Name)})">@item.Name</a></h2>
                        </div>
                    }
                }


            </div>

        </div>
    </div>
</div>
