﻿@model IEnumerable<Core.Models.Messages.ProductView>

@section  JsPage{
    <script src="/Content/home/Scripts/ScriptResourcee39d.js?d=wNw-pNUYLWTYzJ162RR1xM0Oyu2EK2zxp_t11wRlz7EdQ8X6XBrlqISS5qi0TSCAti3UYd-4R8_0ayb2KvA-qTyPbPR-_ab1yNNCh166XWqGy5iAzqDlxu8vQDeakOAAtM4RiuppWy2F5K39jMTmnKcZqRJh1Y1pF3aIPl5rT_Oqys2t0&amp;t=5854e822"
            type="text/javascript"></script>
}
<input type="hidden" name="Transaction" value="@ViewBag.Transaction" />
<input type="hidden" name="Type" value="@ViewBag.Type" />
<input type="hidden" name="Price" value="@ViewBag.Price" />
<input type="hidden" name="Area" value="@ViewBag.Area" />
<input type="hidden" name="City" value="@ViewBag.City" />
<input type="hidden" name="District" value="@ViewBag.District" />
<input type="hidden" name="Street" value="@ViewBag.Street" />
<input type="hidden" name="Ward" value="@ViewBag.Ward" />
<input type="hidden" name="Direction" value="@ViewBag.Direction" />
<input type="hidden" name="Bedroom" value="@ViewBag.Bedroom" />
<input type="hidden" name="ProjectId" value="@ViewBag.ProjectId" />
@if (ViewBag.CheckSearch == 1 || ViewBag.CheckSearch == 0)
{
    <div class="container">

        <div class="row row-md">
            <div class="col-xs-12 col-md-12 col-md pull-left mgb15">

                <div id="ucRaoVat_pnlTitle">
                    <h2 class="mgt0 clearfix titH3 bold500 tit_box">
                        <span class='tit_span text-uppercase'>&nbsp; TIN V.I.P</span>
                        <a class="view_all" href="@Url.Action("Product","Home",new {vip="1" })">Xem tất cả &gt;&gt;</a>
                    </h2>
                </div>
                <div class="row row-md row-mb ">
                    @if (ViewBag.lstVip != null)
                    {
                        if (ViewBag.lstVip.Count > 0)
                        {
                            foreach (var item in ViewBag.lstVip)
                            {
                                <div class="col-xs-6 col-sm-3 col-md-2 col-md col-mb mgb10 item_vip">
                                    <a class="img_rvip img4x3"
                                       href="@Url.Action("Details","Home",new { id=item.ProductId,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(item.Name)})">

                                        <img class='icon_v' src='/images/icon/vip2.gif' alt='Tin Vip Nhà đất ' />

                                        <img class="img img2" src="@item.ImageMain"
                                             alt="@item.Name" />
                                    </a>
                                    @if (item.Price == null || (item.Price != null && item.Price == 0))
                                    {
                                        <strong class="pd5">(Thỏa thuận)</strong>
                                    }
                                    else
                                    {
                                        <strong class="pd5">@item.Price (@item.UnitName)</strong>
                                    }
                                    <h2 class="bold tit_rv pdt5">
                                        <a href="@Url.Action("Details","Home",new { id=item.ProductId,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(item.Name)})">
                                            @item.Name
                                        </a>
                                    </h2>
                                </div>
                            }
                        }
                    }

                </div>

            </div>
        </div>
    </div>
}



@if (ViewBag.CheckSearch == 0)
{
    <div class="container">
        <div class="row row-md">
            <div class="col-xs-12 col-md-8 col-md pull-left mgb15">

                <div id="ucRaoVat_pnlTitle">
                    <h2 class="mgt0 clearfix titH3 bold500 tit_box">
                        <span class='tit_span text-uppercase'>&nbsp; GIỚI THIỆU</span>
                    </h2>
                </div>
                <div class="intro clearfix mgb10 mgt10">
                    @if (ViewBag.Introduce != null)
                    {
                        <div style="padding: 10px; margin: 0px; border: 2px dashed #000080; border-radius: 5px; word-wrap: break-word;">
                            @Html.Raw(ViewBag.Introduce.Content);
                        </div>
                    }

                    <div id="ucRaoVat_rptDetailRv_pnlLH_0">

                        <div class="titH4 bold">THÔNG TIN LIÊN HỆ</div>
                        <table class="table table-raovat table-striped">
                            <tr>
                                <td class='bold' style="width:140px">Người liên hệ</td>
                                <td class="dtr2">:&nbsp;&nbsp;<strong class="text-uppercase">Mr. Chức</strong></td>
                            </tr>
                            <tr>
                                <td class='bold'>Điện thoại</td>
                                <td class="dtr2">
                                    :&nbsp;&nbsp;<a href="tel:0936030999"><strong>0919.679.682</strong></a>
                                </td>
                            </tr>


                            <tr>
                                <td class='bold'>Địa chỉ</td>
                                <td class='dtr2'>:&nbsp;&nbsp;Số 102-C10 Ngõ 140 Giảng Võ, Ba Đình, Hà Nội</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-md pull-left mgb15">
                <div class="col-xs-12 col-sm-12 col-md mgb20">
                    <div class="titH3 bold500 tit_box mgt0 mgb0">
                        <a class="tit_span"
                           href="news/0200002/dich-vu.html">TIN TỨC</a>
                    </div>
                    <ul class="list-unstyled mgb15 box_newH pd5">
                        @if (ViewBag.News != null)
                        {
                            if (ViewBag.News.Count > 0)
                            {
                                for (int i = 0; i < ViewBag.News.Count; i++)
                                {
                                    if (i == 0)
                                    {
                                        <li class="NewsH1 pdt10 pdb10">
                                            <a class="imgH1 pull-left mgr10"
                                               href="@Url.Action("TinTucDetail","Home",new { id=ViewBag.News[i].ServicesId,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(ViewBag.News[i].Name)})">
                                                <img class="img img2"
                                                     src="@ViewBag.News[i].Image"
                                                     alt="@ViewBag.News[i].Name" />
                                            </a>
                                            <strong class="mgb5">
                                                <a href="@Url.Action("TinTucDetail","Home",new { id=ViewBag.News[i].ServicesId,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(ViewBag.News[i].Name)})">
                                                    @ViewBag.News[i].Name
                                                </a>
                                            </strong>
                                            <p class="mgb0 mDesc">
                                                @ViewBag.News[i].Title
                                            </p>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="NewsH2 pdt10 pdb10">
                                            <a href="@Url.Action("TinTucDetail","Home",new { id=ViewBag.News[i].ServicesId,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(ViewBag.News[i].Name)})">
                                                @ViewBag.News[i].Name
                                            </a>
                                        </li>
                                    }
                                }
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    <div class="container">

        <div class="row row-md">
            <div class="col-xs-12 col-md-8 col-md pull-left mgb15">

                <div id="ucRaoVat_pnlTitle">
                    <div>
                        <h2 class="mgt0 clearfix titH3 bold500 tit_box">
                            @if (ViewBag.CheckSearch != 1)
                            {
                                <span class='tit_span text-uppercase'>&nbsp; BẤT ĐỘNG SẢN MỚI ĐĂNG</span>
                                if (Model.Count() > 0)
                                {
                                    <a class="view_all" href="@Url.Action("Product","Home",new { })">Xem tất cả &gt;&gt;</a>
                                }
                            }
                            else
                            {
                                <span class='tit_span text-uppercase'>&nbsp; Kết quả tìm kiếm</span>
                            }
                        </h2>
                    </div>
                </div>
                @if (ViewBag.CheckOrder && Model.Count() > 0)
                {
                    <div class="box_rv clearfix">

                        <div class="item-fil" style="float:right;    padding-bottom: 7px;">
                            <select name="orders" id="orders"
                                    class="form-control no-radius no-shadow t-select" onchange="onChangeOrder()">
                                <option value="1">Ngày mới đăng</option>
                                <option value="2">Giá tăng dần</option>
                                <option value="3">Giá giảm dần</option>

                            </select>
                        </div>
                        <span style="float:right; padding-top:7px">Sắp xếp theo :</span>
                    </div>
                }
                @if (Model != null)
                {
                    if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="box_rv pdt15 pdb15 clearfix  ">
                                <div class="col-xs-5 col-sm-3 col-xs">
                                    <a class="img_rv img4x3"
                                       href="@Url.Action("Details","Home",new { id=item.ProductId,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(item.Name)})">
                                        @if (item.IsVIP.HasValue ? item.IsVIP.Value : false)
                                        {
                                            <img class="icon_v" src="/images/icon/vip2.gif" alt="Tin Vip Nhà đất ">
                                        }

                                        @*<img class="icon_n" src="/images/icon/new1.gif" alt="icon news">*@
                                        <img class="img img2" src="@item.ImageMain"
                                             alt="@item.Name" />
                                    </a>
                                </div>
                                <div class="col-xs-7 col-sm-9 col-xs clearfix">
                                    <div class="col-xs-12 col-sm-7 col-md-8 pdl10 pdr0">
                                        <h3 class="titH5 mgb5 bold500 mgt0">
                                            <a class="c-blue"
                                               href="@Url.Action("Details","Home",new { id=item.ProductId,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(item.Name)})">
                                                @item.Name
                                            </a>
                                        </h3>
                                        <p class="mgb5 mDesc hidden-xs"></p>
                                        <span>Vị trí: @item.Address - @item.StreetName - @item.WardName - @item.DistrictName - @item.CityName</span>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 col-md-4 pdl10 pdr0 text-center text-left-mobile">
                                        <p class="mgb5">
                                            <strong class="c_red">@item.TypeTransactionName</strong>
                                        </p>
                                        <a href="tel:0967273387">  <strong class="c_red">@item.Price &nbsp; @item.UnitName</strong></a><br />
                                    </div>
                                </div>
                            </div>
                        }
                        if (ViewBag.CheckSearch != 0)
                        {
                            <div class="row row-md">
                                <div style="text-align: center">
                                    <ul class="pagination" style="justify-content: center;">
                                        @if (ViewBag.PagingModel.IsActivePre)
                                        {
                                            <li><a class="page-link" href="@Url.Action("Product", "Home", new { page = ViewBag.PagingModel.CurrentPage - 1, vip = ViewBag.VIP })"><<</a></li>
                                        }
                                        else
                                        {
                                            <li class="disabled"><a><<</a></li>
                                        }
                                        @for (int i = ViewBag.PagingModel.FromPage; i <= ViewBag.PagingModel.ToPage; i++)
                                        {
                                            if (i == ViewBag.PagingModel.CurrentPage)
                                            {
                                                <li class=" active"><a class="page-link">@i</a></li>
                                            }
                                            else
                                            {
                                                <li><a class="page-link" href="javascript:pagingFunction(@i);">@i</a></li>
                                            }

                                        }
                                        @if (ViewBag.PagingModel.IsActiveNext)
                                        {
                                            <li><a class="page-link" href="@Url.Action("Product", "Home", new { page = ViewBag.PagingModel.CurrentPage + 1, vip = ViewBag.VIP })">>></a></li>
                                        }
                                        else
                                        {
                                            <li class="disabled"><a>>></a></li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h4 style="text-align:center">Không có dữ liệu !</h4>
                    }
                }
            </div>
            @if (ViewBag.CheckSearch != 0)
            {
                <div class="col-xs-12 col-md-4 col-md pull-left mgb15">
                    <div class="col-xs-12 col-sm-12 col-md mgb20">
                        <div class="titH3 bold500 tit_box mgt0 mgb0">
                            <a class="tit_span"
                               href="@Url.Action("TinTuc","Home")">TIN TỨC</a>
                        </div>
                        <ul class="list-unstyled mgb15 box_newH pd5">
                            @if (ViewBag.News != null)
                            {
                                if (ViewBag.News.Count > 0)
                                {
                                    for (int i = 0; i < ViewBag.News.Count; i++)
                                    {
                                        if (i == 0)
                                        {
                                            <li class="NewsH1 pdt10 pdb10">
                                                <a class="imgH1 pull-left mgr10"
                                                   href="@Url.Action("TinTucDetail","Home",new { id=ViewBag.News[i].ServicesId,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(ViewBag.News[i].Name)})">
                                                    <img class="img img2"
                                                         src="@ViewBag.News[i].Image"
                                                         alt="@ViewBag.News[i].Name" />
                                                </a>
                                                <strong class="mgb5">
                                                    <a href="@Url.Action("TinTucDetail","Home",new { id=ViewBag.News[i].ServicesId,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(ViewBag.News[i].Name)})">
                                                        @ViewBag.News[i].Name
                                                    </a>
                                                </strong>
                                                <p class="mgb0 mDesc">
                                                    @ViewBag.News[i].Title
                                                </p>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="NewsH2 pdt10 pdb10">
                                                <a href="@Url.Action("TinTucDetail","Home",new { id=ViewBag.News[i].ServicesId,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(ViewBag.News[i].Name)})">
                                                    @ViewBag.News[i].Name
                                                </a>
                                            </li>
                                        }
                                    }
                                }
                            }

                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
}
<script>
    function pagingFunction(id) {
        var page = getUrlParameter('page');
        var u = new URL(window.location.href);
        if (page == undefined) {
            if (window.location.search == "")
                u = u + '?page=' + id;
            else
                u = u + '&page=' + id;
        } else {
            u.searchParams.set('page', id);
        }
        window.location.href = u;;
    }
    function onChangeOrder() {
        var val = $("#orders").find(':selected').val();
        var u = new URL(window.location.href);
        if (val == undefined) {
            u = u + '&order=' + val;
        } else {
            u.searchParams.set('order', val);
        }
        window.location.href = u;;
    }
</script>