﻿@using BanNhaAZ.Helpers;


<div class="container clearfix pdt15 pdb5" id="t_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li style="border-left: 1px solid #bfbfbf;" class="nav-item home">
                    <a class="nav-link" href="/"> </a>
                </li>
                <li class="nav-item @Html.IsSelected("Home", "Index")">
                    <a class="nav-link" href="/">TRANG CHỦ </a>
                </li>
                <li class="nav-item dropdown  @Html.IsSelected("Home", "Index","nha-dat-ban")">
                    <a class="nav-link dropdown-toggle" href="#" id="muaban" role="button" data-toggle="dropdown"
                       data-hover="dropdown">
                        MUA - BÁN
                    </a>
                    <div class="dropdown-menu" aria-labelledby="muaban">
                        @if (ViewBag.MenuTypeProperty1 != null)
                        {
                            if (ViewBag.MenuTypeProperty1.Count > 0)
                            {
                                foreach (var item in ViewBag.MenuTypeProperty1)
                                {
                                    <a class="dropdown-item" href="/nha-dat-ban-@item.UrlName-1">@item.Name</a>
                                }
                            }
                        }
                    </div>
                </li>
                <li class="nav-item dropdown @Html.IsSelected("Home", "Index","nha-cho-thue")">
                    <a class="nav-link dropdown-toggle" href="#" id="chothue" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        CHO THUÊ
                    </a>
                    <div class="dropdown-menu" aria-labelledby="chothue">
                        @if (ViewBag.MenuTypeProperty2 != null)
                        {
                            if (ViewBag.MenuTypeProperty2.Count > 0)
                            {
                                foreach (var item in ViewBag.MenuTypeProperty2)
                                {
                                    <a class="dropdown-item" href="/nha-cho-thue-@item.UrlName-1">@item.Name</a>
                                }
                            }
                        }
                    </div>
                </li>
                <li class="nav-item dropdown @Html.IsSelected("Home", "Index","sang-nhuong")">
                    <a class="nav-link dropdown-toggle" href="#" id="sang" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        SANG NHƯỢNG
                    </a>
                    <div class="dropdown-menu" aria-labelledby="sang">
                        @if (ViewBag.MenuTypeProperty3 != null)
                        {
                            if (ViewBag.MenuTypeProperty3.Count > 0)
                            {
                                foreach (var item in ViewBag.MenuTypeProperty3)
                                {
                                    <a class="dropdown-item" href="/sang-nhuong-@item.UrlName-1">@item.Name</a>
                                }
                            }
                        }
                    </div>
                </li>
                <li class="nav-item  @Html.IsSelected("Home", "TinTuc")">
                    <a class="nav-link" href="@Url.Action("TinTuc","Home", new { })"> TIN TỨC</a>
                </li>
                <li class="nav-item @Html.IsSelected("Home", "KyGui")">
                    <a class="nav-link" href="@Url.Action("Kygui","Home", new { })">KÝ GỬI NHÀ ĐẤT</a>
                </li>
            </ul>
            @*<form class="form-inline my-2 my-lg-0 form-search" method="get" action="@Url.Action("Index","Home")">
                    <input name="key" value="@ViewBag.Key" type="text" id="key" class="form-control no-radius no-shadow pdl10"
                           PlaceHolder="Từ khóa tìm kiếm, mã tin, số ĐT" />
                    <input type="submit" value="TÌM KIẾM"
                           class="btn btn-danger no-radius bold" />
                </form>*@
        </div>
    </nav>
</div>