﻿<div id="footer">
    <div class="container">
        <div class="row row-md">

            <div class='box_menuF menuf1'>
                <div class="titH4 bold text-uppercase pdl30">
                    <a href="#"
                       title="CÔNG TY CỔ PHẦN GODACOLAND">CÔNG TY CỔ PHẦN GODACOLAND</a>
                </div>
                <span class="btn_botton"></span>

                <ul class="mgb0 list-unstyled clearfix">
                    <li class="itemli clearfix">
                        <p class="itemM pdl15">
                            <a target="_blank" href="http://godacoland.com/gioi-thieu"
                               title="Tầm nhìn và sứ mệnh">Tầm nhìn và sứ mệnh</a>
                        </p>
                    </li>
                </ul>

            </div>

            <div class='box_menuF menuf3'>
                <div class="titH4 bold text-uppercase pdl30">
                    <a href="#"
                       title="Dịch vụ">Mua - bán</a>
                </div>
                <span class="btn_botton"></span>

                <ul class="mgb0 list-unstyled clearfix">

                    <li class="itemli clearfix">
                        @if (ViewBag.MenuTypeProperty1 != null)
                        {
                            if (ViewBag.MenuTypeProperty1.Count > 0)
                            {
                                foreach (var item in ViewBag.MenuTypeProperty1)
                                {
                                    <p class="itemM pdl15">
                                        <a href="/nha-dat-ban-@item.UrlName-1"
                                           title="@item.Name">@item.Name</a>
                                    </p>
                                }
                            }
                        }
                    </li>
                </ul>

            </div>
            <div class='box_menuF menuf3'>
                <div class="titH4 bold text-uppercase pdl30">
                    <a href="#"
                       title="Thông tin">Cho thuê</a>
                </div>
                <span class="btn_botton"></span>

                <ul class="mgb0 list-unstyled clearfix">

                    <li class="itemli clearfix">

                        @if (ViewBag.MenuTypeProperty2 != null)
                        {
                            if (ViewBag.MenuTypeProperty2.Count > 0)
                            {
                                foreach (var item in ViewBag.MenuTypeProperty2)
                                {
                                    <p class="itemM pdl15">
                                        <a href="/nha-cho-thue-@item.UrlName-1"
                                           title="@item.Name">@item.Name</a>
                                    </p>
                                }
                            }
                        }

                    </li>

                </ul>

            </div>
            <div class='box_menuF menuf3'>
                <div class="titH4 bold text-uppercase pdl30">
                    <a href="#"
                       title="Thông tin">Sang nhượng</a>
                </div>
                <span class="btn_botton"></span>

                <ul class="mgb0 list-unstyled clearfix">

                    <li class="itemli clearfix">

                        @if (ViewBag.MenuTypeProperty3 != null)
                        {
                            if (ViewBag.MenuTypeProperty3.Count > 0)
                            {
                                foreach (var item in ViewBag.MenuTypeProperty3)
                                {
                                    <p class="itemM pdl15">
                                        <a href="/sang-nhuong-@item.UrlName-1"
                                           title="@item.Name">@item.Name</a>
                                    </p>
                                }
                            }
                        }

                    </li>

                </ul>

            </div>

        </div>
        <hr />
        <div class="row">

            <div class="col-xs-12 col-sm-4 box_Add">
                <div class="titH5 bold pdl15">THÔNG TIN LIÊN HỆ</div>
                @if (ViewBag.Contact != null)
                {
                    <p class="mgb5">
                        <strong>Địa chỉ:</strong> <a href="#">
                            @ViewBag.Contact["Address"]
                        </a>
                    </p>
                    <p class="mgb5">
                        <strong>Điện thoại:</strong> <a href="#">
                            @ViewBag.Contact["Phone"]
                        </a>
                    </p>
                    <p class="mgb0">
                        <strong>Email:</strong> <a href="mailto:@ViewBag.Contact["Gmail"]?Subject=Hello%20CTY CỔ PHẦN GODACOLAND"
                                                   target="_top"> @ViewBag.Contact["Gmail"]</a>
                                            </p>
                                        }

            </div>

            <div class="col-xs-12 col-sm-4 box_Add">
                <div class="titH5 bold pdl15">Facebook</div>
                <a href="https://www.facebook.com/Bannhaaz" class="" alt="bannhaaz.com"
                   target="_blank">
                    <img src="/img/fa-facebook.jpg" alt="bannhaaz.com" class=""
                         style="width: 27%;" />
                </a>


            </div>
            <div class="col-xs-12 col-sm-4 box_Add">
                <div class="titH5 bold pdl15">Youtube</div>

                @*<a href="#" target="_blank" class="linkYoutube">
                    <span class="picH"></span>
                    <img src="/images/intro/23.jpg" alt="nhadatvanminh.com.vn" class="" />
                </a>*@

            </div>

        </div>
    </div>
</div>
