﻿﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .wrapper {
    margin-top: -32px;
}
</style>
<h2>Admin Index</h2>
<div class="wrapper">
    <div class="content-wrapper">
        <div class="_modal" ng-show="isLoading">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
                <div id="veil"></div>
            </div>
        </div>
        <ng-include src="'/FrontEnd/admin/layout/header.html'"></ng-include>
        <!--<ng-include src="'/app/view/layout/nav.html'"></ng-include>-->
        <aside class="main-sidebar" ng-controller="HomeController">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <!-- search form -->
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/Content/admin/Assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Antoine Trong</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <div action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Danh sách các danh mục</li>
                    <li>
                        <a title="Đăng tin" href="/Admin#!/products">
                            <i class="fa fa-th"></i> <span>Đăng tin</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Dự án" href="/Admin#!/du-an">
                            <i class="fa fa-list"></i> <span>Dự án</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Cấu hình" href="/Admin#!/constant">
                            <i class="fa fa-tag"></i> <span>Cấu hình</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Hình ảnh" href="/Admin#!/hinh-anh">
                            <i class="fa fa-picture-o"></i> <span>Hình ảnh</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Tin tức" href="/Admin#!/dich-vu">
                            <i class="fa fa-newspaper-o"></i> <span>Tin tức</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Nội dung" href="/Admin#!/noi-dung">
                            <i class="fa fa-dashboard"></i> <span>Nội dung</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="sidebar-menu" data-widget="tree" ng-bind-html="myHTML"></ul>
                <!--<ul class="sidebar-menu" data-widget="tree" ng-bind-html="myHTML1" ></ul>-->
            </section>
            <!-- /.sidebar -->
        </aside>

        <div style="margin-top: -28px;" ng-view>

        </div>

        <div class="control-sidebar-bg"></div>
    </div>
    @* <ng-include src="'/app/view/layout/footer.html'"></ng-include> *@
</div>

