<style>
    .t-bottom {
        padding-bottom: 65px !important;
    }

    li.k-file {
        border-bottom: none;
    }

    .k-grid td {
        padding: 4px 5px;
    }

    .k-grid-edit {
        display: none;
    }

    .k-grid-content input.k-checkbox {
        margin: 6px;
    }
</style>
<div class="_modal" ng-show="isLoading">
    <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
        <div id="veil"></div>
    </div>
</div>
<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Recruitment Management</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-success" style="margin-top: -13px;">
                <div class="box-header with-border">
                    <div class="col-sm-9">
                        <h3 class="box-title">
                            <i class="fa fa-dashboard"></i>
                            Candidates List
                        </h3>
                    </div>
                    <!--trongnv-->
                    <div class="col-sm-3" style="    padding-right: 1px;">
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="box-body" style="  padding: 10px 2px;">
                                        <button type="button" class="btn k-primary" data-toggle="modal"
                                            ng-disabled="false" ng-click="onAddNew()" data-target="#modal-default">
                                            <i class="fa fa-plus"></i>&ensp; Add Candidate
                                        </button> &nbsp;
                                        <button type="button" class="btn k-primary" data-toggle="modal"
                                            ng-click="onDeletes()" ng-show="selectedRow.length >0"
                                            data-target="#modal-default">
                                            <i class="fa fa-times-circle"></i>&ensp; Deletes
                                            ({{selectedRow.length}})
                                        </button>

                                        &nbsp;
                                        <button type="button" class="btn k-primary" data-toggle="modal"
                                            ng-disabled="false" ng-click="onImports()" data-target="#modal-default"
                                            style="float:right;">
                                            <i class="fa fa-book"></i>&ensp; Imports
                                        </button> &nbsp;

                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div class="box-body" style="padding: 10px 1px;">
                                            <!-- row 1 -->
                                            <div>
                                                <div class="col-sm-2">
                                                    <label for="">
                                                        Candidate ID
                                                    </label>
                                                    <input type="text" ng-model="search.candidateId"
                                                        ng-keypress="searchData($event)" class="form-control t-input">
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="">
                                                        FullName
                                                    </label>
                                                    <input type="text" ng-model="search.fullname"
                                                        ng-keypress="searchData($event)" class="form-control t-input">
                                                </div>
                                                <div class="col-sm-3">
                                                    <label for="">
                                                        Phone
                                                    </label>
                                                    <input type="text" ng-model="search.phone"
                                                        ng-keypress="searchData($event)" class="form-control t-input">
                                                </div>
                                                <div class="col-sm-3">
                                                    <label for="">
                                                        Email
                                                    </label>
                                                    <input type="text" ng-model="search.email"
                                                        ng-keypress="searchData($event)" class="form-control t-input">
                                                </div>
                                            </div>
                                            <!-- row2 -->
                                            <div>
                                                <div class="col-sm-2">
                                                    <label for="">
                                                        DOB
                                                    </label>
                                                    <input kendo-date-picker k-ng-model="search.dob"
                                                        placeholder="dd/MM/yyyy" ng-keypress="searchData($event)"
                                                        k-options="dateOptions" style="width: 100%;" />
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="">
                                                        Technology
                                                    </label>
                                                    <div>
                                                        <select kendo-multi-select k-options="selectTechOptions"
                                                            k-ng-model="search.selectedTechIds"></select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label for="">
                                                        Job Rank
                                                    </label>
                                                    <select class="select2" style="width: 100%" kendo-drop-down-list
                                                        k-options="jobRankOptions" k-ng-model="search.jobRank"
                                                        k-filter="'contains'"></select>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label for="">
                                                        Site
                                                    </label>
                                                    <select class="select2" style="width: 100%" kendo-drop-down-list
                                                        k-options="siteOptions" k-ng-model="search.site"
                                                        k-filter="'contains'"></select>
                                                </div>
                                                <div class="col-sm-1">
                                                    <div style="    padding: 26px 0;">
                                                        <button type="button" class="btn k-primary" data-toggle="modal"
                                                            ng-disabled="false" ng-click="searchData()"
                                                            data-target="#modal-default" style="float: right;">
                                                            <i class="fa fa-search"></i>&ensp; Search
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">

                                    <!-- Custom Tabs -->
                                    <div class="nav-tabs-custom">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#tab_1" data-toggle="tab">Total ({{totalFile}})</a>
                                            </li>

                                            <li class=" pull-right">
                                                <a style="cursor: pointer" ng-click="test()">
                                                    <i class="fa fa-file-excel-o"></i>&ensp; Export
                                                </a>
                                            </li>
                                            <li class=" pull-right">
                                                <a style="cursor: pointer" ng-show="showButtonClear"
                                                    ng-click="clearFilter()">
                                                    <i class="fa fa-times-circle"></i>&ensp; Clear filter
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_1">
                                                <kendo-grid id="mainGridOptions" options="mainGridOptions">
                                                </kendo-grid>
                                            </div>
                                            <!-- /.tab-pane -->
                                        </div>
                                        <!-- /.tab-content -->
                                    </div>
                                    <!-- nav-tabs-custom -->
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <!-- /.box -->
        <!-- general form elements disabled -->
        <!-- /.box -->
    </div>
    <div kendo-dialog="dialog" k-title="' Candidate information'" k-visible="false" k-on-open="true" k-on-close="true"
        k-width="1000" k-modal="true">
        <div class="t-body">
            <div kendo-validator="validator" k-options="" id="idForm" name="idForm" ng-submit="validate($event)"
                novalidate>
                <div class="form-horizontal">
                    <div class="box-body scoll-box-body">
                        <div class="t-scroll-modal">
                            <div class="col-sm-12">
                                <label>
                                    Candidate ID:
                                    &nbsp;
                                </label>
                                <b><span>{{item.candidateId}}</span></b>
                            </div>
                            <!-- row 2 -->
                            <div class='t-bottom'>
                                <div class="col-sm-4">
                                    <label for="">
                                        FullName <span class="t-required">(*)</span>
                                    </label>
                                    <input type="text" ng-model="item.fullName" class="form-control t-input">
                                </div>
                                <div class="col-sm-4">
                                    <label for="">
                                        Phone <span class="t-required">(*)</span>
                                    </label>
                                    <input type="text" ng-model="item.phone" class="form-control t-input">
                                </div>
                                <div class="col-sm-4">
                                    <label for="">
                                        Email <span class="t-required">(*)</span>
                                    </label>
                                    <input type="text" ng-model="item.email" class="form-control t-input">
                                </div>
                            </div>

                            <!-- row 3 -->
                            <div class='t-bottom'>
                                <div class="col-sm-4">
                                    <label for="">
                                        DOB
                                    </label>
                                    <input kendo-date-picker k-ng-model="item.dob" placeholder="dd/MM/yyyy"
                                        k-options="dateOptions" style="width: 100%;" />
                                </div>
                                <div class="col-sm-4">
                                    <label for="">
                                        Site
                                    </label>
                                    <div>
                                        <select class="select2" style="width: 100%" kendo-drop-down-list
                                            k-options="siteOptions" k-ng-model="item.site"
                                            k-filter="'contains'"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label for="">
                                        Gender
                                    </label>
                                    <select class="select2" style="width: 100%" kendo-drop-down-list
                                        k-options="genderOptions" k-ng-model="item.gender"
                                        k-filter="'contains'"></select>
                                </div>
                            </div>
                            <!-- row 4 -->
                            <div class='t-bottom'>
                                <div class="col-sm-8">
                                    <label for="">
                                        Technology
                                    </label>
                                    <div>
                                        <select kendo-multi-select k-options="selectTechOptions"
                                            k-ng-model="item.selectedTechIds"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label for="">
                                        Job Rank
                                    </label>
                                    <div class="t-field">
                                        <select class="select2" style="width: 100%" kendo-drop-down-list
                                            k-options="jobRankOptions" k-ng-model="item.jobRank"
                                            k-filter="'contains'"></select>
                                    </div>
                                </div>
                            </div>

                            <!-- row 5 -->
                            <div class='t-bottom'>
                                <div class="col-sm-8">
                                    <label for="">
                                        Address
                                    </label>
                                    <input type="text" ng-model="item.address" class="form-control t-input">
                                </div>
                                <div class="col-sm-4">
                                    <label for="">
                                        Social link
                                    </label>
                                    <input type="text" ng-model="item.socialLink" class="form-control t-input">
                                </div>
                            </div>
                            <!-- row 6 -->
                            <div>
                                <div class="col-sm-8" style="padding-bottom: 5px;">
                                    <label> CV &nbsp;</label>
                                    <label title="Download file" style="cursor: pointer;float: right;">
                                        <a ng-if="showCVs" target="_blank"
                                            href="/Rec/Home/Download?candidateId={{item.candidateId}}"><span><i
                                                    class="fa fa-download fa-lg" aria-hidden="true"></i></span>
                                        </a>
                                    </label>
                                    <!-- <input name="files" id="files" type="file"ng-files="getTheFiles($files)" /> -->
                                    <input type="file" name="files" id="files" accept="images/*" class="form-control"
                                        multiple ng-files="getTheFiles($files)" />
                                    <div class="k-widget k-upload k-header k-upload-sync" style="border-top:none;">
                                        <ul class="k-upload-files k-reset" style="border-top:none;" ng-if="showCVs">
                                            <li class="k-file" data-uid="6dfa3e63-749a-4dd9-87dd-347e682cf6b2">
                                                <span class="k-progress" style="width: 0%; display: none;"></span>
                                                <span class="k-file-extension-wrapper">
                                                    <span class="k-file-extension"></span>
                                                    <span class="k-file-state"></span>
                                                </span>
                                                <span class="k-file-name-size-wrapper">
                                                    <span class="k-file-name"
                                                        title="item.cvs.link">{{item.cvs.name}}</span>
                                                    <span class="k-file-size">{{item.cvs.size}} KB</span>
                                                </span>
                                                <strong class="k-upload-status">
                                                    <button type="button" class="k-button k-upload-action"
                                                        aria-label="Remove">
                                                        <span class="k-icon k-i-close k-i-x" title="Remove"></span>
                                                    </button>
                                                </strong>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- row 7 -->
                            <div class="col-sm-12">
                                <label for="">
                                    Calling info
                                </label>
                                <button type="button" class="btn k-primary" style="padding: 0px 5px;"
                                    data-toggle="modal" ng-click="addRowDetail()" data-target="#modal-default">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <kendo-grid id="detailGrid" options="detailGridOption">
                                </kendo-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-footer">
                <button type="button" ng-click="dialog.close()" class="btn btn-default" title="Cancel action"
                    data-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true"></i>&nbsp
                    {{"txt-cancel" | translate}}
                </button>
                &nbsp;
                <button type="button" id="btnSave" class="btn btn-primary" ng-click="onSubmitValidate()"
                    title="Save data">
                    <i class="fa fa-floppy-o" aria-hidden="true">
                    </i>&nbsp; {{"txt-save" | translate}}
                </button>
                <!-- <button type="button" ng-click="dialog.close()" class="btn btn-danger" title="Cancel action"
                    style="float: left;">
                    <i class="fa fa-ban" aria-hidden="true"></i>&nbsp
                    Black list
                </button> -->
            </div>
            </form>
        </div>
    </div>

    <div kendo-dialog="dialogImport" k-title="' Imports files'" k-visible="false" k-on-open="true" k-on-close="true"
        k-width="800" k-modal="true">
        <div class="t-body">
            <div kendo-validator="validator" k-options="" id="idFormImport" name="idFormImport" novalidate>
                <div class="form-horizontal">
                    <div class="box-body scoll-box-body">
                        <div class="t-scroll-modal" style="height: 320px;">
                            <!-- row 6 -->
                            <div>
                                <div class="col-sm-8" style="padding-bottom: 5px;">
                                    <label> Upload files &nbsp;</label>
                                    <!-- <input name="files" id="files" type="file"ng-files="getTheFiles($files)" /> -->
                                    <input type="file" name="filesImport" id="filesImports" accept="images/*" class="form-control"
                                        multiple ng-files="getTheFilesImports($files)" />
                                </div>
                            </div>
                            <!-- row 7 -->
                            <div class="col-sm-12">
                                <label for="">
                                    Calling info
                                </label>
                                <button type="button" class="btn k-primary" style="padding: 0px 5px;"
                                    data-toggle="modal" ng-click="addRowDetail()" data-target="#modal-default">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <kendo-grid id="detailGrid" options="detailGridOption">
                                </kendo-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-footer">
                <button type="button" ng-click="dialog.close()" class="btn btn-default" title="Cancel action"
                    data-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true"></i>&nbsp
                    Cancel
                </button>
                &nbsp;
                <button type="button" id="btnImports" class="btn btn-primary" ng-click="onImportsValidate()" title="Save data">
                    <i class="fa fa-floppy-o" aria-hidden="true">
                    </i>&nbsp; Imports
                </button>
            </div>
            </form>
        </div>
    </div>
</section>