﻿
@{
    ViewBag.Title = "Đăng nhập hệ thống || BanhnhaAz.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BanNhaAZ.Models.UserLogin
<style>
    .validation_message {
        color: red
    }

    #pnlFillter {
        display: none;
    }
</style>

<div class="container">
    <h1 class="titH1 bold c_red tit_login"><span id="ucLogin_txtTitle" class="titdn">Đăng nhập</span></h1>
    <hr class="mgb20" />

    <div id="ucLogin_pnlLogin" style="    padding-left: 39%;max-width: 70%;" class="box_login box_ipt_login" ValidationGroup="vldlogin">

        <div class="form-group">
            <input name="UserName" type="text" maxlength="50" id="UserName" class="form-control no-radius no-shadow" placeholder="Tên đăng nhập / Email / Điện thoại*" />
            @Html.ValidationMessageFor(t => t.UserName, null, new { @class = "validation_message" })

        </div>
        <div class="form-group">
            <input name="Password" type="password" maxlength="50" id="Password" class="form-control no-radius no-shadow" placeholder="Mật khẩu *" />
            @Html.ValidationMessageFor(t => t.Password, null, new { @class = "validation_message" })

        </div>
        <div class="form-group cbcheck mgb20"><input id="ucLogin_ckbSaver" type="checkbox" name="ucLogin$ckbSaver" /><label for="ucLogin_ckbSaver">  Nhớ mật khẩu</label></div>
        <div class="form-group">
            <button type="button" id="btnLogin" onclick="onSubmit()" class="btn bold no-radius">
                <i class="ace-icon fa fa-key"></i>
                <span class="bigger-110">ĐĂNG NHẬP</span>
            </button>
        </div>

    </div>




    <div class="intro clearfix pdt15 mgb20" style="text-align: center;">
        <p><img alt="Quên mật khẩu" src="images/icon/icon-mk.jpg" />&nbsp;&nbsp;<a href="#">Qu&ecirc;n mật khẩu?</a></p>

        <p><img alt="Đăng ký" src="images/icon/icon-dk.jpg" />&nbsp;&nbsp;<a href="#">Đăng k&yacute; th&agrave;nh vi&ecirc;n</a></p>

        <p>Để được trợ gi&uacute;p vui l&ograve;ng li&ecirc;n hệ :</p>

        <p>
            Hotline <strong>
                <a href="#">
                    <span style="color: #f15b40
">0973.002.521</span>
                </a>
            </strong> hoặc email <strong><a href="http://mailto:trongnv1507@gmail.com/"><span style="color:#f15b40">trongnv1507@gmail.com</span></a></strong>
        </p>
    </div>
</div>

<script>
    class myLoading {
        constructor(obj, html) {
            this.obj = obj;
            this.html = $("#" + obj).html();
        }
        start() {
            $("#" + this.obj).attr("disabled", "disabled");
            $("#" + this.obj).html("<i class='fa fa-cog fa-spin' aria-hidden='true'></i>&nbsp; Đang đăng nhập ... &nbsp;");
        }
        stop() {
            $("#" + this.obj).prop('disabled', false);
            $("#" + this.obj).html(this.html);
        }
    }
    function onSubmit() {
        var baseRestURL = window.location.origin;
        var username = $("#UserName").val();
        var password = $("#Password").val();
        var data = {
            username: username,
            password: password,
            grant_type: "password"
        }
        //END CONFIG PARAMETERS -------------------------------------------------------------------------
        var myLoop = new myLoading("btnLogin", "");
        myLoop.start();
        $.ajax({
            url: baseRestURL + '/token',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            /* data: JSON.stringify(body), /* wrong */
            data: data, /* right */
            success: function (result) {
                //called when successful
                myLoop.stop();
                if (result) {
                    localStorage.setItem("_token", JSON.stringify(result));
                } else {
                    localStorage.setItem("_token", {});
                }
                window.location.href = baseRestURL + "/Admin";
            },
            error: function (result) {
                //called when there is an error
                myLoop.stop();
                alert(JSON.parse(result.responseText).error_description);

            },
        });
    }
</script>