

@media screen and (max-width: 767px){
    .mbr-arrow-up{
        bottom: 8px !important;
    }
    #navbarSupportedContent{
        overflow-y: scroll;
        height: 400px;}
    #t_menu{
    z-index: 9;
    }
    .sticked3 {
        position: fixed!important;
        top: 52px;
        left: 0;
        right: 0;
        z-index: 20;
        padding: 7px;
    }
}

@media screen and (max-width: 991px){
    #t_menu::before{
        background-color: white !important;
    }
    ul.navbar-nav.mr-auto {
        background-color: #06569b;
    }
    .home{
        border-left: 1px solid #bfbfbf!important;
        padding-bottom: 23px!important;
        width: 100%!important;
        border-left: none!important;
    }
    .navbar{
        z-index: 3 !important;
    }
    #t_menu{
        margin-top: 0 !important;
    }
    .form-search{
        display: none;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
      }
    .item-fil {
        width: 50% !important;
    }
    .nav-item{
        border-top: 1px dotted #f0f0f0;
        border-right:none !important;
    }
    .mr-auto{
        margin-left: 0 !important;
    }
    .navbar {
        margin-bottom: -51px  !important;
    }
  }

.bg-light {
    background-color: #ffffff !important;
}

.navbar{
    margin-bottom: 0px;
}
.btnIconMenu{
    width: 26px !important;
    height: 36px !important;
}

.item-fil2{
    float: left;
}
.item-fil{
    width:25% ;
}
.menu-sub{
    margin: 0 0 0 !important;
}
.menu-sub>li{
    margin-left: 4px!important;
    width: 96%;
}
.menu-sub>li :hover{
    color: #333 !important;
    background: #ddd !important;
}
.menu-sub>li>a{
    color: black;
}

  

  .dropdown-item{
      font-size: 15px;
      height: 35px;
      min-width: 250px !important;
      padding: 7px 4.25rem 1.5rem 1.5rem !important;
      font-weight: normal!important;
    background-color: #cfe5f7!important;
    border: 1px solid #fff!important;
    border-bottom: 0!important;
    float: none!important;
    text-align: left!important;
  }

  .nav-first{
  padding-right: 21px;
}
.mr-auto{
    margin-left: -37px;
}
.nav-item{
    padding:0 10px;
    border-right: 1px solid #bfbfbf;
  }
.nav-item:hover{
    background-color: #126ebb;
}
.nav-link:focus,  .nav-link:hover{
    color: white !important
}
li.nav-item.active{
    background: #126ebb !important;
}
.dropdown-item:focus, .dropdown-item:hover{
    color: #ffffff !important;
    background: #126ebb !important;
}
#t_menu{
    margin-bottom: 15px;
    z-index: 100;
    margin-top: 15px;
    font-weight: 500;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#t_menu::before {
    content: "";
    display: block;
    background: #06569b;
    z-index: -9;
    position: absolute;
    left: calc(50% - 50vw);
    right: calc(50% - 50vw);
    top: 0;
    bottom: 0;
}


.navbar-light .navbar-nav .nav-link{
    color: #ffffff !important;
    margin-bottom: -2px !important;
}
#navbarSupportedContent{
    margin-bottom: -12px;
    margin-top: -12px;
}



/* menu con*/
.dropdown-menu{
    padding: 0 0 !important;
}
.home{
    width: 43px;
    background: url(../images/bds-icon.png) 12px -15px no-repeat;
}



/* title*/
.titH3{
    font-size: 14px !important;
}
.tit_box .tit_span{
    background: url(../images/bg/bg-tit2.png)no-repeat 6px 8px,#06569b;
    padding: 3px 19px 0px 30px;
    background-size: 12% 45%;
}
.tit_box .tit_span:after{
    background: url(../images/icon/bg-tit.png)no-repeat left top;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
.c_red {
    color: black;
}
.view_all:hover{
    color: #fc0509 !important;
}