﻿/*.form-control { border-radius:0}
#comment input, .content { font-size:12px;}*/
div.cm { 
    /*margin: 15px 0 0;*/
    background:#fff; overflow: hidden;
}
div.cm h3 { font-size: 20px; font-weight: bold; color: #0f4174; background-color: #fff; height: 30px; line-height: 30px; margin-bottom: 10px; border-bottom: 0px solid #ddd; padding:5px 5px 0;  text-transform:uppercase;     display: inline-block;
    position: relative;}
div.cm h3:after {
    left: 100%;
    background: #ddd;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 55%;
    width: 1345%;
}
/*.capcha input, .capcha img { float:left;}
#comment .btn {background:#0090ad; font-weight: bold; height:34px; color:#fff; margin-left:10px;}
#comment .btn:hover { background:#d52027; color:#fff;}
*/

/*div.cm .b .btn {background-color: #ed2f1f; border: 1px solid #ddd;display: inline-block;color: #fff;font-weight:bold;padding: .3em;height: auto !important; text-decoration: none;}
div.cm .b .btn:hover{background-color:#ed2f1f;}*/

div.cm .l {width:48%;float:left;line-height:20px;margin:5px 2.5% 5px 0;background:#fff;font-weight:bold;}
div.cm .r {width:49%;float:left;line-height:20px;margin:5px 0 5px 0;background:#fff}
div.cm .c {width:100%; float:left;background:#fff}
div.cm .l .fullname, div.cm .r .fullname {width:100%;padding-left:2%}
div.cm .c .content {width:100%;padding:1%;}
div.cm .i {width:190px;margin:5px 0;float:left }
div.cm .i .capcha {height:30px;border:1px solid #dadada;padding:0 0 0 5px}
div.cm .b {margin:5px 0;float:left }

div.cm .d {width:100%;float:left;margin:5px 0}
div.cm .d li b {border-bottom:1px dotted #dadada; display:block ;float:left;width:100%}
div.cm .d li p {background:#fff; width:98%;min-height:30px;float:left;padding:1%;max-height:90px;overflow:hidden }
div.cm input[type=text],div.cm textarea { border:1px solid #dadada;outline:none;}
div.cm input[type=text]:focus {border:1px solid red;}

.comment {margin-bottom:10px;    padding: 5px;}
.comment2{margin-left:60px;     background: #F0FFFF;}
/*.avatar{    float: left;    border-radius: 10px;    width: 63px;    background: #fff;    color: red;    vertical-align: bottom;    border: 2px solid #f7f9fa;}*/
.avatar{    float: left;    border-radius: 10px;  background: #fff;    color: red;    vertical-align: bottom; padding: 0 8px;}
.comment-des p{margin:0}
.comment-content p{margin-bottom:10px}
.comment-des{margin:0 0 0 71px;padding:10px 20px;background-color:#fff;border:1px solid #e6e6e6}
.comment-des:hover{box-shadow:0 0 0 3px rgba(0,0,0,0.05);-webkit-box-shadow:0 0 0 3px rgba(0,0,0,0.05)}

.comment-des strong{color:#555;font-weight:600; font-size:14px;}
.comment-by{width:100%;position:relative}
.comment-by span.author{display:block}
.comment-by span.reply{color:#999;top:5px;right:0;position:absolute;}
.comment-by span.reply a,.comment-by span.reply a:visited{color:blue;background-color: none;padding:3px 10px}
.comment-by p.date{color:#999;display:block;font-size:12px;font-style:italic;}
.comment-by .author{max-width:80%}
.comment-by .author .badge{color:#fff;background-color:#72777c;border:1px solid rgba(0,0,0,0.1);border-radius:2px;font-size:12px;padding:2px 6px;margin-left:5px;display:inline-block;font-weight:400}
.comment-by .author .admin{background-color:#0073aa;border:1px solid rgba(0,0,0,0.1)}
.comment-by .date a:link,.comment-by .date a:visited{color:#999}
.comment-by .date a:hover{color:#333}

.page {display:block;text-align:center;}
.page a {display:inline-block;padding:5px 10px;border:1px solid #ededed;}
.page .cpage {color:#f34548;}

.ncm li {border-top:1px dashed #dedede;color: #999999;list-style: none;padding:8px;}
.ncm li:first-child {border:none;}
.ncm li img {width: 48px;height: 48px;margin-right:10px;}

.commentInput {display: none;}

/*.danh_gia{margin-bottom: 15px; line-height: 30px;}*/
.danh_gia{margin-top: -15px; line-height: 30px;}
.danh_gia label{background:url('../images/icon/star_yellow.png');width:23px;height:23px;vertical-align: bottom;}
.danh_gia label:hover {background: url('../images/icon/star_yellow.png');cursor: pointer;}
input[type="radio"]:checked~label{background:url('../images/icon/star.png');}
input[type="radio"]:checked+label{ background: url('../images/icon/star_yellow.png'); } 
input[type="radio" i] {display:none;}

.cr-11{ display: inline-block;    background: #fff;    color: #ff5100;    padding: 5px 50px 5px;   border:0;     border: 1px solid #ff5100;    transition: all 0.5s;   }
.cr-11:hover {background:#ff5100 !important;color:#fff !important; transition:all 0.5s; cursor:pointer;}
.cr-13{ display: inline-block;    background: #fff;    color: #ff5100;    padding: 5px 50px 5px;   border:0;     border: 1px solid #ff5100;    transition: all 0.5s;   border-radius: 0;}
.cr-13:hover {background:#ff5100 !important;color:#fff !important; transition:all 0.5s; cursor:pointer;}

@media (max-width: 479px) {
    div.cm .i { width:176px !important;}
    /*.avatar{width:63px;}*/
    .comment2{margin-left:30px;}
    .comment-des{margin-left:50px; padding:5px 7px; font-size:13px;}

}

.content-ellipsis-2-line {
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}
.content-ellipsis-3-line {
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}