<style>
    .k-grid td {
        padding: 4px 5px;
    }

    .k-grid-content-locked input.k-checkbox {
        margin: 6px !important;
    }
</style>
<div class="_modal" ng-show="isLoading">
    <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
        <div id="veil"></div>
    </div>
</div>
<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Đăng tin</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-success" style="margin-top: -13px;">
                <div class="box-header with-border">
                    <div class="col-sm-9">
                        <h3 class="box-title">
                            <i class="fa fa-dashboard"></i>
                            {{"txt-label-list" | translate}}
                        </h3>
                    </div>
                    <!--trongnv-->
                    <div class="col-sm-3" style="    padding-right: 1px;">
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="box-body" style="    padding-left: 15px;">
                                        <button type="button" class="btn k-primary" data-toggle="modal"
                                            ng-disabled="false" ng-click="onAddNew()" data-target="#modal-default">
                                            <i class="fa fa-plus"></i>&ensp; {{"txt-add" | translate}}
                                        </button> &nbsp;
                                        <button type="button" class="btn k-primary" data-toggle="modal"
                                            ng-click="onDeletes()" ng-show="selectedRow.length >0"
                                            data-target="#modal-default">
                                            <i class="fa fa-times-circle"></i>&ensp; {{"txt-delete" | translate}}
                                            ({{selectedRow.length}})
                                        </button>
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="box-body">
                                        <div class="input-group pull-right" style="    padding-right: 5px;">
                                            <input type="text" ng-model="search.name" ng-keypress="searchData($event)"
                                                   placeholder='{{"txt-search" | translate}} ...' ' class="form-control">
                                            <span class="input-group-addon" ng-click="searchData()" style="cursor: pointer" ng-click="">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                        <div class="pull-right" style="    padding-right: 5px;    width: 20%;">
                                            <ui-select ng-model="search.typeProperty">
                                                <ui-select-match allow-clear="true" placeholder="Loại ...">
                                                    {{$select.selected.name}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="record.id as record in lstProperty | filter: $select.search">
                                                    <div ng-bind-html="record.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                                <ui-select-no-choice>
                                                    <div style="text-align: center;">No data</div>
                                                </ui-select-no-choice>
                                            </ui-select>
                                        </div>
                                        <div class="pull-right" style="    padding-right: 5px;    width: 20%;">
                                            <ui-select on-select="onChangeTypeTransactionSearch($item.id)" ng-model="search.typeTransaction">
                                                <ui-select-match allow-clear="true" placeholder="Hình thức ...">
                                                    {{$select.selected.name}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="record.id as record in lstTransaction | filter: $select.search">
                                                    <div ng-bind-html="record.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="pull-right" style="    padding-right: 5px;    width: 20%;">
                                            <ui-select ng-model="search.project">
                                                <ui-select-match allow-clear="true" placeholder="Dự án ...">
                                                    {{$select.selected.name}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="record.id as record in lstProjects | filter: $select.search">
                                                    <div ng-bind-html="record.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                                <ui-select-no-choice>
                                                    <div style="text-align: center;">No data</div>
                                                </ui-select-no-choice>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">

                                <!-- Custom Tabs -->
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab_1" data-toggle="tab">Total ({{totalFile}})</a>
                                        </li>
                                        <li class=" pull-right">
                                            <a style="cursor: pointer" ng-click="test()">
                                                <i class="fa fa-file-excel-o"></i>&ensp; Export
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_1">
                                            <kendo-grid id="mainGridOptions" options="mainGridOptions">
                                            </kendo-grid>
                                        </div>
                                        <!-- /.tab-pane -->
                                    </div>
                                    <!-- /.tab-content -->
                                </div>
                                <!-- nav-tabs-custom -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.box -->
        <!-- general form elements disabled -->
        <!-- /.box -->
    </div>
    <div kendo-dialog="dialog" k-title="' Đơn hàng'" k-visible="false" k-on-open="true" k-on-close="true" k-width="1000"
                                                k-modal="true">
                                            <div class="t-body">
                                                <div kendo-validator="validator" k-options="" id="idForm" name="idForm" ng-submit="validate($event)" novalidate>
                                                    <div class="form-horizontal">
                                                        <div class="box-body scoll-box-body">
                                                            <div class="t-scroll-modal">
                                                                <div class="form-group  col-sm-12">
                                                                    <label>
                                                                        {{"txt-product-id" | translate}}:
                                                                        &nbsp;
                                                                    </label>
                                                                    <span>{{item.id}}</span>
                                                                </div>
                                                                <div class="form-group  col-sm-12">
                                                                    <label for="">
                                                                        {{"txt-product-name" | translate}} <span class="t-required">(*)</span>
                                                                    </label>
                                                                    <input type="text" ng-model="item.name" required
                                                                           class="form-control t-input">
                                                                </div>
                                                                <div class="form-group  col-sm-12">
                                                                    <label>
                                                                        {{"txt-product-image-main" | translate}}<span class="t-required">(*)</span>
                                                                    </label>&nbsp&nbsp
                                                                    <div class="row" style="padding-bottom: 10px;">
                                                                        <div class="col-sm-2">
                                                                            <img ng-if="item.imageMain=='' || item.imageMain==null"
                                                                                 style="width: 100%;height: 60px;"
                                                                                 ng-src="/Images/not-found.png">

                                                                            <img ng-if="item.imageMain != ''"
                                                                                 style="width: 100%;height: 100%;"
                                                                                 ng-src="{{item.imageMain}}">
                                                                        </div>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" required
                                                                                   ng-model="item.imageMain"
                                                                                   class="form-control t-input">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-sm-12">
                                                                    <label>
                                                                        Dự án
                                                                    </label>

                                                                    <div class="t-field">
                                                                        <ui-select 
                                                                                   ng-model="item.projectId"
                                                                                   required>
                                                                            <ui-select-match allow-clear="true"
                                                                                             placeholder="Select ...">
                                                                                {{$select.selected.name}}
                                                                            </ui-select-match>
                                                                            <ui-select-choices repeat="record.id as record in lstProjects | filter: $select.search">
                                                                                <div ng-bind-html="record.name | highlight: $select.search">
                                                                                </div>
                                                                            </ui-select-choices>
                                                                        </ui-select>
                                                                    </div>
                                                                </div>
                                                                    <div class="form-group col-sm-6">
                                                                        <label>
                                                                            {{"txt-product-typeTransaction" | translate}}
                                                                            <span class="t-required">(*)</span>
                                                                        </label>

                                                                        <div class="t-field">
                                                                            <ui-select on-select="onChangeTypeTransaction($item.id)"
                                                                                       ng-model="item.typeTransaction"
                                                                                       required>
                                                                                <ui-select-match allow-clear="true"
                                                                                                 placeholder="Select ...">
                                                                                    {{$select.selected.name}}
                                                                                </ui-select-match>
                                                                                <ui-select-choices repeat="record.id as record in lstTransaction | filter: $select.search">
                                                                                    <div ng-bind-html="record.name | highlight: $select.search">
                                                                                    </div>
                                                                                </ui-select-choices>
                                                                            </ui-select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group  col-sm-6">
                                                                        <label>
                                                                            {{"txt-product-typeProperty" | translate}} <span class="t-required">(*)</span>
                                                                        </label>

                                                                        <div class="t-field">
                                                                            <ui-select required ng-model="item.typeProperty">
                                                                                <ui-select-match allow-clear="true"
                                                                                                 placeholder="Select ...">
                                                                                    {{$select.selected.name}}
                                                                                </ui-select-match>
                                                                                <ui-select-no-choice>
                                                                                    <div style="text-align: center;">
                                                                                        No data
                                                                                    </div>
                                                                                </ui-select-no-choice>
                                                                                <ui-select-choices repeat="record.id as record in lstProperty | filter: $select.search">
                                                                                    <div ng-bind-html="record.name | highlight: $select.search">
                                                                                    </div>
                                                                                </ui-select-choices>
                                                                            </ui-select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-sm-6">
                                                                        <label>
                                                                            {{"txt-product-city" | translate}} <span class="t-required">(*)</span>
                                                                        </label>
                                                                        <div class="t-field">
                                                                            <ui-select ng-model="item.city"
                                                                                       on-select="onChangeCity($item.id)">
                                                                                <ui-select-match allow-clear="true"
                                                                                                 placeholder="Select ...">
                                                                                    {{$select.selected.name}}
                                                                                </ui-select-match>
                                                                                <ui-select-no-choice>
                                                                                    <div style="text-align: center;">
                                                                                        No data
                                                                                    </div>
                                                                                </ui-select-no-choice>
                                                                                <ui-select-choices repeat="record.id as record in lstCity | filter: $select.search">
                                                                                    <div ng-bind-html="record.name | highlight: $select.search">
                                                                                    </div>
                                                                                </ui-select-choices>
                                                                            </ui-select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group  col-sm-6">
                                                                        <label>
                                                                            {{"txt-product-district" | translate}} <span class="t-required">(*)</span>
                                                                        </label>
                                                                        <div class="t-field">
                                                                            <ui-select ng-model="item.district" on-select="onChangeDistrict($item.id)">
                                                                                <ui-select-match allow-clear="true"
                                                                                                 placeholder="Select ...">
                                                                                    {{$select.selected.name}}
                                                                                </ui-select-match>
                                                                                <ui-select-no-choice>
                                                                                    <div style="text-align: center;">
                                                                                        No data
                                                                                    </div>
                                                                                </ui-select-no-choice>
                                                                                <ui-select-choices repeat="record.id as record in lstDistrict | filter: $select.search">
                                                                                    <div ng-bind-html="record.name | highlight: $select.search">
                                                                                    </div>
                                                                                </ui-select-choices>
                                                                            </ui-select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-sm-6">
                                                                        <label>
                                                                            {{"txt-product-ward" | translate}}
                                                                        </label>

                                                                        <div class="t-field">
                                                                            <ui-select ng-model="item.ward">
                                                                                <ui-select-match allow-clear="true"
                                                                                                 placeholder="Select ...">
                                                                                    {{$select.selected.name}}
                                                                                </ui-select-match>
                                                                                <ui-select-no-choice>
                                                                                    <div style="text-align: center;">
                                                                                        No data
                                                                                    </div>
                                                                                </ui-select-no-choice>
                                                                                <ui-select-choices repeat="record.id as record in lstWard | filter: $select.search">
                                                                                    <div ng-bind-html="record.name | highlight: $select.search">
                                                                                    </div>
                                                                                </ui-select-choices>
                                                                            </ui-select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-sm-6">
                                                                        <label>
                                                                            {{"txt-product-street" | translate}}
                                                                        </label>

                                                                        <div class="t-field">
                                                                            <ui-select ng-model="item.street">
                                                                                <ui-select-match allow-clear="true"
                                                                                                 placeholder="Select ...">
                                                                                    {{$select.selected.name}}
                                                                                </ui-select-match>
                                                                                <ui-select-no-choice>
                                                                                    <div style="text-align: center;">
                                                                                        No data
                                                                                    </div>
                                                                                </ui-select-no-choice>
                                                                                <ui-select-choices repeat="record.id as record in lstStreet | filter: $select.search">
                                                                                    <div ng-bind-html="record.name | highlight: $select.search">
                                                                                    </div>
                                                                                </ui-select-choices>
                                                                            </ui-select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group  col-sm-12">
                                                                        <label for="">
                                                                            {{"txt-product-address" | translate}}
                                                                        </label>
                                                                        <div class="">
                                                                            <input type="text" ng-model="item.address"
                                                                                   class="form-control t-input">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group  col-sm-6">
                                                                        <label for="">
                                                                            {{"txt-product-price" | translate}}
                                                                        </label>
                                                                        <div class="t-field">
                                                                            <input type="text" ng-model="item.price"
                                                                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                                                   class="form-control t-input">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group  col-sm-3">
                                                                        <label for="">
                                                                            {{"txt-product-unit" | translate}}
                                                                        </label>
                                                                        <div>
                                                                            <ui-select ng-model="item.unit">
                                                                                <ui-select-match allow-clear="true"
                                                                                                 placeholder="Select ...">
                                                                                    {{$select.selected.name}}
                                                                                </ui-select-match>
                                                                                <ui-select-no-choice>
                                                                                    <div style="text-align: center;">
                                                                                        No data
                                                                                    </div>
                                                                                </ui-select-no-choice>
                                                                                <ui-select-choices repeat="record.id as record in lstUnit | filter: $select.search">
                                                                                    <div ng-bind-html="record.name | highlight: $select.search">
                                                                                    </div>
                                                                                </ui-select-choices>
                                                                            </ui-select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group  col-sm-2">
                                                                        <label for="">
                                                                            {{"txt-product-numOfFloor" | translate}}
                                                                        </label>
                                                                        <input type="text" ng-model="item.numOfFloor"
                                                                               maxlength="3"
                                                                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                                               class="form-control t-input">
                                                                    </div>
                                                                    <div class="form-group  col-sm-6">
                                                                        <label for="">
                                                                            {{"txt-product-area" | translate}} (m²)
                                                                        </label>
                                                                        <div class="t-field">
                                                                            <input type="text" ng-model="item.area"
                                                                                   maxlength="10"
                                                                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                                                   class="form-control t-input">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group  col-sm-3">
                                                                        <label for="">
                                                                            {{"txt-product-numOfBedroom" | translate}}
                                                                        </label>
                                                                        <div class="t-field">
                                                                            <input type="text" ng-model="item.numOfBedroom"
                                                                                   maxlength="3"
                                                                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                                                   class="form-control t-input">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group  col-sm-3">
                                                                        <label for="">
                                                                            {{"txt-product-numOfWcs" | translate}}
                                                                        </label>
                                                                        <input type="text" ng-model="item.numOfWcs"
                                                                               maxlength="3"
                                                                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                                               class="form-control t-input">
                                                                    </div>
                                                                    <div class="form-group col-sm-6">
                                                                        <label>
                                                                            {{"txt-product-houseDirection" | translate}}
                                                                        </label>

                                                                        <div class="t-field">
                                                                            <select class="select2" style="width: 100%"
                                                                                    kendo-drop-down-list
                                                                                    k-options="directionOptions"
                                                                                    k-ng-model="item.houseDirection"
                                                                                    k-filter="'contains'"></select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group  col-sm-6">
                                                                        <label>
                                                                            {{"txt-product-balconyDirection" | translate}}
                                                                        </label>

                                                                        <div class="t-field">
                                                                            <select class="select2" style="width: 100%"
                                                                                    kendo-drop-down-list
                                                                                    k-options="directionOptions"
                                                                                    k-ng-model="item.balconyDirection"
                                                                                    k-filter="'contains'"></select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group  col-sm-12">
                                                                        <label>
                                                                            {{"txt-product-summary" | translate}}
                                                                        </label>
                                                                        <div ckeditor="options" ng-model="item.summary" ready="onReady()"></div>
                                                                        <!-- <textarea type="text" ng-model="item.summary"
            rows="6" style="resize: none;"
            placeholder="Summary"
            class="form-control t-input"></textarea> -->

                                                                    </div>
                                                                    <div class="form-group  col-sm-12">
                                                                        <label>
                                                                            {{"txt-product-image" | translate}}
                                                                        </label>&nbsp&nbsp
                                                                        <label>
                                                                            <button type="button"
                                                                                    class="btn btn-success bg-gradient-success btn-sm"
                                                                                    ng-click="pushImage()">
                                                                                +
                                                                            </button>
                                                                        </label>
                                                                        <div class="row" style="padding-bottom: 10px;"
                                                                             ng-repeat="img in item.imgs">
                                                                            <div class="col-sm-2">
                                                                                <img ng-if="img.name==''"
                                                                                     style="width: 100%;height: 60px;"
                                                                                     ng-src="/Images/not-found.png">

                                                                                <img ng-if="img.name != ''"
                                                                                     style="width: 100%;height: 60px;"
                                                                                     ng-src="{{img.name}}">
                                                                            </div>
                                                                            <div class="col-sm-9">
                                                                                <input type="text"
                                                                                       ng-model="img.name"
                                                                                       class="form-control t-input">
                                                                            </div>
                                                                            <div class="col-sm-1">
                                                                                <button type="button"
                                                                                        class="btn btn-danger bg-gradient-success btn-sm"
                                                                                        ng-click="deleteImage(img.id)">
                                                                                    -
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="t-footer">
                                                    <button type="button" ng-click="dialog.close()"
                                                        class="btn btn-default" title="Cancel action"
                                                        data-dismiss="modal">
                                                        <i class="fa fa-ban" aria-hidden="true"></i>&nbsp
                                                        {{"txt-cancel" | translate}}
                                                    </button>
                                                    &nbsp;
                                                    <button type="button" id="btnSave" class="btn btn-primary"
                                                      ng-click="onSubmitValidate()" title="Save data">
                                                        <i class="fa fa-floppy-o" aria-hidden="true">
                                                        </i>&nbsp; {{"txt-save" | translate}}
                                                    </button>

                                                </div>
                </form>
            </div>
        </div>

</section>