<div class="_modal" ng-show="isLoading">
    <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
        <div id="veil"></div>
    </div>
</div>
<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Nội dung</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>
                    <h3>Giới thiệu</h3>
                </label>
                <div ckeditor="options" ng-model="item.content" ready="onReady()"></div>
                <br>
                <div style="text-align: center;">
                    <button type="button" id="btnSave" class="btn btn-primary" ng-click="onSaveChange()"
                        title="Save data">

                        <i class="fa fa-floppy-o" aria-hidden="true">
                        </i>&nbsp; Save changes
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-12">
            <div class="form-group">
                <label>
                    <h3>Giới thiệu</h3>
                </label>
                <div ckeditor="options" ng-model="item.summary" ready="onReady()"></div>
                <br>
                <div style="text-align: center;">
                    <button type="button" id="btnSave" class="btn btn-primary" 
                        title="Save data">

                        <i class="fa fa-floppy-o" aria-hidden="true">
                        </i>&nbsp; Save changes
                    </button>
                </div>
            </div>
        </div> -->
    </div>
    </div>
</section>