﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Đăng nhập hệ thống</title>

    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link href="/Content/admin/Assets/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/admin/Assets/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- text fonts -->
    <link rel="stylesheet" href="/Content/admin/Assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="/Content/admin/Assets/css/ace.css" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="/Content/assets/css/ace-part2.css" />
    <![endif]-->
    <link rel="stylesheet" href="/Content/admin/Assets/css/ace-rtl.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="/Content/assets/css/ace-ie.css" />
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <link href="/Content/admin/Assets/css/toastr.min.css" rel="stylesheet" />
    <!-- Loading modal css -->
    <link href="/Content/admin/Assets/css/loading.css" rel="stylesheet" />
    <!-- mySkin-->
    <link href="/Content/admin/Assets/css/skin.css" rel="stylesheet" />
    <script src="~/Scripts/kendo/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/Content/assets/js/html5shiv.js"></script>
    <script src="/Content/assets/js/respond.js"></script>

    <![endif]-->


</head>

<body class="login-layout blur-login">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <i class="ace-icon fa fa-leaf green"></i>
                                <span class="white" id="id-text2">Recruitment</span>
                            </h1>
                            <h4 class="lightt-blue" id="id-company-text">&copy; Antoine </h4>
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="ace-icon fa fa-coffee green"></i>
                                            Please enter your account information
                                        </h4>

                                        <div class="space-6"></div>
                                        @RenderBody()


                                    </div><!-- /.widget-main -->

                                </div><!-- /.widget-body -->
                            </div><!-- /.login-box -->

                        </div><!-- /.position-relative -->

                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='/Content/assets/js/jquery1x.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/Content/admin/Assets/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>
    <script src="/Content/admin/Assets/toastr.min.js"></script>
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        });



        //you don't need this, just used for changing background
        jQuery(function ($) {
            $('#btn-login-dark').on('click', function (e) {
                $('body').attr('class', 'login-layout');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'blue');

                e.preventDefault();
            });
            $('#btn-login-light').on('click', function (e) {
                $('body').attr('class', 'login-layout light-login');
                $('#id-text2').attr('class', 'grey');
                $('#id-company-text').attr('class', 'blue');

                e.preventDefault();
            });
            $('#btn-login-blur').on('click', function (e) {
                $('body').attr('class', 'login-layout blur-login');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'light-blue');

                e.preventDefault();
            });


        });
    </script>
    <script>
        function ToastMessage(msgType, message) {
            console.log(toastr);
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-right",
                "onClick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "2000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr[msgType](message, "Thông báo");


        };
         class myLoading {
                constructor(obj, html) {
                    this.obj = obj;
                    this.html = $("#" + obj).html();
                }
                start() {
                    $("#" + this.obj).attr("disabled", "disabled");
                    $("#" + this.obj).html("<i class='fa fa-cog fa-spin' aria-hidden='true'></i>&nbsp; Processing ... &nbsp;");
                }
                stop() {
                    $("#" + this.obj).prop('disabled', false);
                    $("#" + this.obj).html(this.html);
                }
            }
    </script>

</body>
</html>
